<div class="container">
  <div class="row">
    <div class="col-4" style="background-color: red">
      <h2>左</h2>
    </div>
    <div class="col-8" style="background-color: green">
      <h2>右</h2>
    </div>

  </div>

</div>
